.home{
    z-index: 1000;
    position: relative;
}

.media-scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    margin-top: 3rem;

    overflow-x: auto;
}

.media-element{
    display: grid;
    img{
        inline-size: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5%;
        object-fit: cover;
    }
    p{
        text-align: center;
        color: white;
    }
}
