@use "../shared/_global.scss";

.text-red{
    @include global.text-second;
}

.bg-button{
    @include global.bg-second;
}

.form-inputs:focus{
    border-color: red !important;
}

.login{
    position: relative;
    z-index: 100000000;
}