/* You can add global styles to this file, and also import other style files */
@use "./app/shared/_global.scss";
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';



body{
    @include global.bg-first
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
 }
 
 ::-webkit-scrollbar:hover{
    background-color: rgb(94, 91, 91);
    opacity: .1;
    padding: .1rem;
 }

 ::-webkit-scrollbar-thumb {
    @include global.bg-fourth;
    border-radius: .375rem;
    height: .6875rem;
 }