$first: #242424;
$second: #dc3545;
$third: #FAF9F6;
$fourth: #404040;

@mixin text-second{
    color: $second !important;
}

@mixin text-third{
    color: $third !important;
}

@mixin bg-first{
    background-color: $first !important;
}

@mixin bg-second{
    background-color: $second !important;
}

@mixin bg-third{
    background-color: $third !important;
}

@mixin bg-fourth{
    background-color: $fourth !important;
}

.invalid{
    color: #dc3545;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}